.link-bar-1 a {
	color: #929292; 
	font-family: "Source Sans 3";
	font-weight: 200;
	font-size: 16px;
	text-align: center;
    text-decoration: none;
    padding: 0px 20px 0px 0px;
    
}

.link-bar-1 a:hover{
    color: #6c6b6b;
}

nav .active-1{
    color: #FF6624;
}

.link-bar-1 {
    padding-top: 35px;
    text-align: right;
}
.rectangle-1 {
	height: 112px;
	padding: 8px 8px 8px 8px;
	opacity: 100%;
	background: #EBEBEB ;
	border-radius: 5px 5px 5px 5px;
}

.text-input-1 {
    padding-top: 15px;
	color: #FF6624;
	font-family: "Source Sans 3";
	font-weight: bold;
	font-size: 24px;
	text-align: left;
}

.icone-1{
    text-align: center;
}

.icone-1 i {
    padding: 10px 10px 10px 10px;
    
    
}
.icone-1 a {
    text-decoration: none;
    color: #7A7A7A;
}

.icone-1 a:hover {
    text-decoration: none;
    color: #FF6624;
}

.icone-1 .fa-brands {
    font-size: 25px;
} 

.footer-1 p {
    color: #AAAAAA;
    font-family: "Source Sans Pro";
    font-weight: 200;
    font-size: 12px;
    line-height: 0.4;
    text-align: center;
  }

.footer-1 {
    padding-top: 25px;
}

.content-1 {
    padding: 0px 100px 25px 100px;
}


.image-evenement-1{
    padding-top: 5px;
}

.image-evenement-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: 332px;
    /* width: 1380px; */
    max-width: 100%;
} 

.event-title-1{
    padding: 10px 0px 10px 0px;
    color: #000000;
    font-family: "Source Sans 3";
    font-weight: 400;
    font-size: 26px;
    text-align: center;
}

.description-event-1 {
    color: #000000;
    font-family: "Source Sans 3";
    font-weight: 200;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
  }

.event-info-1 span{
    background: #FFFFFF;
    color: #000000;
    border-radius: 3px 3px 3px 3px;
    font-family: "Source Sans 3";
    font-weight: 200;
    font-size: 16px;
    text-align: left;

}
.event-info-1 .fa-calendar, .event-info-1 .fa-clock, .event-info-1 .fa-location-dot {
    color: #FF6624;
    font-size: 25px;

}

.event-info-1 i {
    display: block;
    padding-bottom: 10px;
}

.acheter-billet-1{
    padding:  15px 0px 15px 0px;
    
}
.acheter-billet-1 button {
    color: #FFFFFF;
    font-family: "Source Sans 3";
    font-weight: 200;
    font-size: 18px;
    width: 253px;
    height: 40px;
    background: #FF6624;
    border-color: #929292;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

/* table de programme */
table{
    font-family: "Source Sans 3";
    font-weight: 200;
    font-size: 16px;
    width: 100%;
  }
  
table td, table th {
    text-align: center;
    padding: 15px;
  }
  
  tr:nth-child(odd) {
    background-color:  #f7f7f7;
  }

table tr{
    border-color: #C0C0C0;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-collapse: collapse;
  }

th {
    background-color:#e1dfdf;
    color: #FF6624;
  }

.table-1 {
    padding: 25px;
}

.table-1 h2 {
    text-align: center;
    color: #FF6624;
    font-family: "Source Sans 3";
    padding-bottom: 15px;
}
/* formulaire  */

fieldset {
    border:1px solid #444444;
    color: #515050;
    font-family: "Source Sans 3";
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    padding: 0px 25px 0px 25px;
    border-radius: 5px 5px 5px 5px;
}

legend {
    width:auto;
    float:none;
    color: #232323;
    font-family: "Source Sans 3";
    font-weight: 500;
    font-size: 16px;
}
input[type=text], input[type=email], input[type=tel], select {
    width: 100%;
    padding: 8px 5px;
    display: inline-block;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    box-sizing: border-box;
  }

  

.info-personnelles{
    padding:  25px 0px 25px 0px;
}

 ul {
    list-style-type: none;
    padding: 0;
    
  }
  
ul li {
padding: 8px 16px;
border-bottom: 1px solid #C0C0C0;
}

ul {
    display: block;
}

ul li {
    display: block;
}
    
ul li span {
    display: inline-block;
}
    
ul > li > span:first-of-type{
    float: right;
}

.ul-categorie{
    padding-top: 25px;
}

.buttom-margin-6{
    margin-top: 6px;
}

.formulaire-pad{
    padding-top: 25px;
    padding-bottom: 50px;
}

.formulaire-pad:hover, .list-fieldset:hover
{
    border: 1px #FF6624 solid;
}

.formlaire-legend, .list-legend {
    color: #FF6624;
    font-weight: 500;
    font-size: 18px;
}

.cat-header {
    background-color: #e7e7e7;
}

.fa-cc-visa, .fa-cc-mastercard ,.fa-money-check-dollar{
    font-size: 25px;
    color: #FF6624;
}

input[type=radio]{
    padding-right: 50px;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
}
.section-billet i{
    padding-left: 20px;
}