.link-bar-1 a {
	color: #444444;
	font-family: "Source Sans 3";
	font-weight: 600;
	font-size: 17px;
	text-align: center;
    text-decoration: none;
    padding: 0px 20px 0px 0px;
    
}

.link-bar-1 a:hover{
    color: #6c6b6b;
}

nav .active-1, nav .active-1:hover{
    color: #FF6624;
}

.link-bar-1 {
    padding-top: 35px;
    text-align: right;
}
.rectangle-1 {
	height: 112px;
	padding: 8px 8px 8px 8px;
	opacity: 100%;
	background: #EBEBEB ;
	border-radius: 5px 5px 5px 5px;
}

.text-input-1 {
    padding-top: 15px;
	color: #FF6624;
	font-family: "Source Sans 3";
	font-weight: bold;
	font-size: 24px;
	text-align: left;
}

.icone-1{
    text-align: center;
}

.icone-1 i {
    padding: 10px 10px 10px 10px;
    
    
}
.icone-1 a {
    text-decoration: none;
    color: #181817;
    
}

/* .icone-1 .fa-square-twitter {
    background: linear-gradient(to right, #999897 0%, #606062 100%);
    border-radius: 25%;
    
} */

.icone-1 a:hover {
    text-decoration: none;
    color: #401604;
}

.icone-1 .fa-brands {
    font-size: 25px;
} 

.footer-1 p {
    color: #858282;
    font-family: "Source Sans Pro";
    font-weight: 200;
    font-size: 12px;
    line-height: 0.4;
    text-align: center;
  }

.footer-1 {
    padding-top: 25px;
}

.content-1 {
    padding: 0px 100px 25px 100px;
}


.image-evenement-1{
    padding-bottom: 25px;
}

.image-evenement-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: 332px;
    width: 100%; 
    max-width: 100%;
} 

.event-title-1{
    padding: 10px 0px 5px 0px;
    color: #000000;
    font-family: "Source Sans 3";
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    color: #FF6624;
}

.description-event-1 {
    color: #000000;
    font-family: "Source Sans 3";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
  }

.event-info-1 span{
    background: #FFFFFF;
    color: #000000;
    border-radius: 3px 3px 3px 3px;
    font-family: "Source Sans 3";
    font-weight: 200;
    font-size: 16px;
    text-align: left;

}
.event-info-1 .fa-calendar, .event-info-1 .fa-clock, .event-info-1 .fa-location-dot {
    color: #FF6624;
    font-size: 25px;

}

.event-info-1 i {
    display: block;
    padding-bottom: 10px;
}

.acheter-billet-1{
    padding:  15px 0px 15px 0px;
    
}
.acheter-billet-1 button {
    color: #FFFFFF;
    font-family: "Source Sans 3";
    font-weight: 200;
    font-size: 18px;
    width: 253px;
    height: 40px;
    background: #FF6624;
    border-color: #929292;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

/* table de programme */
table{
    font-family: "Source Sans 3";
    font-weight: 200;
    font-size: 16px;
    width: 100%;
  }
  
/* table td, table th {
    text-align: center;
    padding: 15px;
  } */

table td, table th {
    text-align: left;
    padding: 15px;
}
  
tr:nth-child(odd) {
    background-color:  #f7f7f7;
}

table tr{
    border-color: #C0C0C0;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-collapse: collapse;
  }

th {
    background-color:#e1dfdf;
    color: #FF6624;
  }

.table-1 {
    padding: 25px;
}

.table-1 h2 {
    text-align: center;
    color: #FF6624;
    font-family: "Source Sans 3";
    padding-bottom: 15px;
}

/* formulaire  */

fieldset {
    border:1px solid #444444;
    color: #515050;
    font-family: "Source Sans 3";
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    padding: 0px 25px 0px 25px;
    border-radius: 5px 5px 5px 5px;
}

legend {
    width:auto;
    float:none;
    color: #232323;
    font-family: "Source Sans 3";
    font-weight: 500;
    font-size: 16px;
}
input[type=text], input[type=email], input[type=tel], select, textarea {
    width: 100%;
    padding: 8px 5px;
    display: inline-block;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    box-sizing: border-box;
  }

.formulaire-pad , .info-contact-1 i{
    text-align:  center;
    padding-bottom: 15px;
    color: #000000;
    font-family: "Source Sans 3";
    font-weight: 500;
    font-size: 14px;
}

.formulaire-pad span, .info-contact-1 span, .contact-form-1 span{
    color: red;
}


.info-personnelles{
    padding:  25px 0px 25px 0px;
}

 ul {
    list-style-type: none;
    padding: 0;
    
  }
  
ul li {
padding: 8px 16px;
border-bottom: 1px solid #C0C0C0;
}

ul {
    display: block;
}

ul li {
    display: block;
}
    
ul li span {
    display: inline-block;
}
    
ul > li > span:first-of-type{
    float: right;
}

.ul-categorie{
    padding-top: 25px;
}

.formulaire-pad{
    padding-top: 0px;
    padding-bottom: 30px;
}

.formulaire-pad:hover, .list-fieldset:hover
{
    border: 1px #FF6624 solid;
}

.formlaire-legend, .list-legend {
    color: #FF6624;
    font-weight: 500;
    font-size: 18px;
}

.cat-header {
    background-color: #e7e7e7;
}

.fa-cc-visa, .fa-cc-mastercard ,.fa-money-check-dollar{
    font-size: 25px;
    color: #FF6624;
}

input[type=radio]{
    padding-right: 50px;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
}
.section-billet i{
    padding-left: 5px;
}

input[type=submit] {
    cursor: pointer;
    margin-top: 25px;
    margin-right: 30px;
    color: #FFFFFF;
    font-family: "Source Sans 3";
    font-weight: 200;
    font-size: 16px;
    width: 120px;
    height: 40px;
    background-color: #FF6624;
    border: 1px #929292 solid;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
  }

.input-1{
    text-align: center;
}

/* apropos */
.apropos-1{
    text-align: center;
    padding-top: 15px;
}

.apropos-header-1{
    color: #FF6624;
    font-family: "Source Sans 3";
    font-weight: 600;
    font-size: 26px;
}

.apropos-content-1 span {
    color: #000000;
    font-family: "Source Sans 3";
    font-weight: 700;
    font-size: 20px;
}

.apropos-content-1 {
    padding-top: 15px;
}

.apropos-text-1 {
    color: #000000;
    font-family: "Source Sans 3";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.apropos-participant-1 img {
    width: 73px;
    height: 73px;
    background: #FFFFFF;
    border:#444444 1px solid ;
    border-radius:50%;
}

.apropos-users-1 span {
    display: inline-block;
    padding-right: 35px;
    font-family: "Source Sans 3";
    font-size: 16px;
    font-style: italic;
    color: #000000;
    font-weight: bold;
}

.apropos-users-1{
    padding: 50px 0px 25px 0px;
}

/* intervenant */
.interv-header-1{
    /* border: #62796b 1px solid; */
    border-color:  #EBEBEB;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 150px;
    width: 100%;
    text-align: center;
    padding-top: 38px;
    background-color: #f5f2f2;
    margin-top: 15px;
}

.inter-social-media a, .contact-social-media a {
    text-decoration: none;
}

.inter-social-media .fa-brands, .contact-social-media .fa-brands{
    font-size: 25px;
    color: #611f02;
}

.inter-social-media span, .contact-social-media span {
    margin-right:  30px;
}

.inter-social-media {
    text-align: center;
    padding: 25px 0px 25px 0px;
}

.interv-name-1{
    text-align:  center;
    color: #FF6624;
    font-family: "Source Sans 3";
    font-weight: 700;
    font-size: 18px;
    padding: 10px 0px 10px 0px;
}

.interv-desc-1 {
    color: #000000;
    font-family: "Source Sans 3";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;

}

/* sponsor */

.sponsor-1 img 
{
    width: 100%;
    border-radius: 50%;
    
}

.sponsor-1 {
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.sponsor-1 div {
    padding-bottom:  15px;
}

.sponsor-1 span div {
   padding-top:  10px;
   color: #D68227;
    font-family: "Source Sans 3";
    font-weight: 700;
    font-size: 14px;
}

/* Contact */

.row-form-col-25 label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

.row-form-col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

.row-form-col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

.row-form-1::after {
    content: "";
    display: table;
    clear: both;
  }

.contact-form-1 {
    color: #515050;
    font-family: "Source Sans 3";
    font-weight: 500;
    font-size: 14px;
    padding: 30px 25px 25px 25px;
}

.maps-1 iframe {
    width: 100%;
    height: 300px;
}

.maps-1 {
    padding-bottom: 15px;
}

.contact-info-1 {
    padding-top: 35px;
    font-family: "Source Sans 3";
    font-weight: 500;
    font-size: 16px;

}

.contact-info-1 .fa-solid {
    font-size: 25px;
    color: #6c6b6b;
}

.contact-info-2 {
    padding-bottom: 25px;
    text-align: left;
}

.contact-email-1{
    padding-bottom: 10px;
}

.contact-info-2 i {
    margin-right: 10px;
}

.contact-social-media {
    text-align: left;
    padding: 25px 0px 25px 0px;
}

.info-contact-1 {
    padding-bottom: 15px;
}

.description-event-1 span{
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
    font-size: 16px;
    font-weight: 800;
}
@keyframes clignoter {
    0%   { color:#000000; }
    40%   {color: #FF6624; }
    100% { opacity:#000000; }
  }

